* {
  --el-bg-color-overlay: var(--btn-bg-color);
  --el-fill-color-light: var(--btn-bg-color-active);
  --el-border-color-light: var(--btn-border-color);

  --el-border-color: var(--btn-bg-color);
  --el-border-color-hover: var(--btn-border-color);

  --el-text-color-placeholder: black;
}
