// roboto ===================
.roboto-light {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  // font-optical-sizing: auto;
  // font-style: normal;
}

.roboto-normal {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
}

.roboto-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-optical-sizing: auto;
  font-style: normal;
}

.roboto-black {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-optical-sizing: auto;
  font-style: normal;
}

// cabin ===================
.cabin-normal {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.cabin-bold {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


// racing-sans-one-regular ===================
.racing-sans-one-regular {
  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
