.methods-list {
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 20px;
  background: linear-gradient(180deg, #FFEC6D 0%, #F9EEA3 100%);
  border-radius: var(--border-radius-main);

  &__header {
    position: relative;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    padding: 0 55px;

    h4 {
      text-align: center;
      font-size: 24px;
      font-weight: var(--font-weight-light);
    }

    &--btn {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }

  &__body {
    max-width: 700px;
    margin: 0 auto;
  }

  &__form {
    position: relative;
    width: auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 8px;
    justify-content: start;
    padding-bottom: 20px;

    &--warning {
      position: absolute;
      width: 100%;
      bottom: 0;
      text-align: center;
      color: var(--text-color-warning);
    }

    input {
      position: relative;
      border: 1px solid var(--btn-border-color);
      width: auto;
      padding: 0 5px;
      text-align: center;
      border-radius: 10px;
    }

    span {
      font-size: 16px;
      font-weight: var(--font-weight-light);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  &__listitem {
    background: var(--bg-color-secondary);
    border-radius: var(--border-radius-main);
    height: 45px;
    display: grid;
    grid-template-columns: 1fr 175px;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow-main);

    .active {
      background: var(--btn-bg-color-active);
    }

    &.single {
      grid-template-columns: 1fr;
    }

    &--left {
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--btn-bg-color);
      border-radius: var(--border-radius-main);
      padding: 5px;
      height: 100%;
    }

    &--right {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 5px;
    }
  }

  &__btn {
    min-width: 150px;
    margin: 0 auto;
  }
}
